#question {
    font-size: var(font-size);
    font-weight: bold;
}

.choice {
    background-color: white;
    overflow: hidden;
}

.choice:hover {
    cursor: pointer;
}

.choice-number {
    color: white;
    padding: 1rem;
    background-color: var(--accent-color);
}

.choice-text {
    background-color: transparent;
}

.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}